@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --gradient-start: hsl(6, 100%, 80%);
  --gradient-end: hsl(335, 100%, 65%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: var(--very-dark-blue) url("images/bg-desktop.png") no-repeat
    bottom / 100% 50%;
}

.fylo-data-storage {
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: flex-end;
}

.fylo-data-storage,
.fylo-data-storage-icons {
  gap: 30px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.fylo-data-storage-icons,
.storage-info {
  padding: 40px;
  background-color: var(--dark-blue);
}

.fylo-data-storage-icons {
  border-radius: 10px 100px 10px 10px;
  padding-right: 80px;
}

.logo {
  width: fit-content;
}

.icons {
  gap: 15px;
}

.icon,
.text,
.storage-info {
  border-radius: 10px;
}

.icon {
  width: 50px;
  height: 50px;
  background: center var(--very-dark-blue) no-repeat;
}

.icon-document {
  background-image: url("images/icon-document.svg");
}

.icon-folder {
  background-image: url("images/icon-folder.svg");
}

.icon-upload {
  background-image: url("images/icon-upload.svg");
}

.tooltip {
  align-self: flex-end;
  margin-right: 40px;
  margin-bottom: -25px;
}

.triangle-right-bottom:before {
  position: absolute;
  content: "";
  width: 55px;
  height: 55px;
  bottom: -45px;
  right: 0px;
  clip-path: polygon(50% 0, 100% 65%, 100% 0);
}

.triangle-right-bottom:before,
.text,
.thumb {
  background-color: white;
}

.text {
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 10px 20px;
  color: var(--grayish-blue);
}

.big {
  font-size: 3.5rem;
  color: var(--very-dark-blue);
}

.bold,
.attribution a {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.storage-info,
.attribution,
.attribution a {
  color: var(--pale-blue);
}

.mb-15,
.attribution {
  margin-bottom: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

.slider,
.track {
  border-radius: 50px;
  padding: 3px;
}

.slider {
  background-color: var(--very-dark-blue);
}

.track {
  justify-content: flex-end;
  width: 81.5%;
  background: linear-gradient(
    90deg,
    var(--gradient-start),
    var(--gradient-end)
  );
}

.thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.attribution {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
}

.attribution a {
  text-decoration: none;
}

.attribution a:hover {
  color: var(--gradient-end);
}

@media only screen and (max-width: 768px) {
  body {
    background: url("images/bg-mobile.png") no-repeat center / cover;
  }

  .fylo-data-storage {
    padding: 50px 0;
    width: 80%;
    grid-template-columns: none;
  }

  .fylo-data-storage-info {
    flex-direction: column-reverse;
  }

  .tooltip {
    align-self: center;
    margin-right: 0;
    margin-top: -25px;
  }

  .triangle-right-bottom:before {
    all: unset;
  }

  .storage-info {
    text-align: center;
  }
}

@media only screen and (max-height: 414px) and (max-width: 740px) {
  .attribution {
    position: static;
    padding-bottom: 10px;
  }
}
